/allure-results/1b912d7b-a401-44ce-a589-7181aeb6a5d2-container.json
/allure-results/1e6d8e59-5518-452f-9ae7-f896f9fcb2d0-result.json
/allure-results/5b507de2-dc5e-4e7e-b926-91467b3466c6-container.json
/allure-results/6aa6cbb7-09b6-4df9-af10-0926a07a1a4d-result.json
/allure-results/6ac2c3e9-c3a8-4475-a8ed-ce734cd3867f-container.json
/allure-results/6b6fa710-0106-4f76-ac49-65abbaf271f4-result.json
/allure-results/62adf611-9290-4191-adba-f07e22aca28f-result.json
/allure-results/930bf8c6-be56-4042-9d13-78e8b90219d7-container.json
/target/surefire-reports/2020-03-01T14-35-53_831.dumpstream
/allure-results/2600d91f-6b0b-4d41-9ef7-6386ad3f0d9a-result.json
/allure-results/4370b84f-da85-451c-86ef-8724e33039d4-container.json
/target/test-classes/test/AccountListFlyoutTest.class
/allure-results/bd926526-9413-4382-a462-f79761705974-container.json
/target/classes/common/BrowserFactory.class
/target/surefire-reports/bullet_point.png
/allure-results/cb7f8110-bbec-4115-ae56-6ca36c78c7b1-result.json
/target/surefire-reports/old/Suite/classes.html
/target/surefire-reports/collapseall.gif
/target/classes/common/CommonFunctions.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/allure-results/d6e221cf-1f97-476e-bcf9-5969196b56b5-container.json
/allure-results/d9105142-da4b-4e25-b244-51894e537a66-container.json
/target/surefire-reports/emailable-report.html
/ExampleAutomationFramework1.iml
/target/surefire-reports/failed.png
/target/surefire-reports/old/Suite/groups.html
/target/classes/pages/HomePage$location.class
/target/classes/pages/HomePage$signInOrRegister.class
/target/classes/pages/HomePage.class
/target/surefire-reports/old/Suite/index.html
/target/surefire-reports/old/index.html
/target/surefire-reports/index.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/surefire-reports/jquery-3.4.1.min.js
/target/surefire-reports/old/Suite/main.html
/target/surefire-reports/old/Suite/methods.html
/target/surefire-reports/old/Suite/methods-alphabetical.html
/target/surefire-reports/old/Suite/methods-not-run.html
/target/surefire-reports/navigator-bullet.png
/target/surefire-reports/passed.png
/target/classes/pages/RegistrationPage.class
/target/surefire-reports/old/Suite/reporter-output.html
/target/test-classes/test/SignInFlyoutTest.class
/target/classes/pages/SignInPage.class
/target/surefire-reports/skipped.png
/target/surefire-reports/Suite/Test.html
/target/surefire-reports/old/Suite/Test.properties
/target/surefire-reports/Suite/Test.xml
/target/surefire-reports/junitreports/TEST-test.AccountListFlyoutTest.xml
/target/surefire-reports/junitreports/TEST-test.SignInFlyoutTest.xml
/target/surefire-reports/TEST-TestSuite.xml
/target/test-classes/test.resource/TestBase.class
/target/surefire-reports/testng.css
/target/surefire-reports/old/Suite/testng.xml.html
/target/surefire-reports/testng-reports.css
/target/surefire-reports/testng-reports.js
/target/surefire-reports/testng-results.xml
/target/surefire-reports/TestSuite.txt
/target/surefire-reports/old/Suite/toc.html
